
@font-face {
  font-family: 'retrosans';
  src: url('../src/css/GowunDodum-Regular.ttf') format('truetype');
}
*{
  margin: 0px;
  box-sizing: border-box;
  font-family: 'retrosans';
}
.background{
  display: flex;
  justify-content: center;
  margin: auto;
  background-image: url('https://mblogthumb-phinf.pstatic.net/20110412_254/sin7sky_1302599138528qcTjD_JPEG/Appows_3.jpg?type=w2');
  background-size: cover;
  padding-top: 20px; 
}
.outerbox{
  margin: 20px auto;
  min-width: 1800px;
  max-height: 1200px;
  background-image: url('https://i.pinimg.com/550x/5b/5a/00/5b5a0024129839d6f3777f0cb869877b.jpg');
  border-radius: 40px;
}

.innerbox{
  width: 1700px;
  min-height: 780px;
  margin: auto ;
  margin-top: 30px;
  background-image: url('https://mblogthumb-phinf.pstatic.net/MjAxODAzMDNfMTc5/MDAxNTIwMDQxNzQwODYx.qQDg_PbRHclce0n3s-2DRePFQggeU6_0bEnxV8OY1yQg.4EZpKfKEOyW_PXOVvy7wloTrIUzb71HP8N2y-YFsBJcg.PNG.osy2201/1_%2835%ED%8D%BC%EC%84%BC%ED%8A%B8_%ED%9A%8C%EC%83%89%29_%ED%9A%8C%EC%83%89_%EB%8B%A8%EC%83%89_%EB%B0%B0%EA%B2%BD%ED%99%94%EB%A9%B4_180303.png?type=w800');
  border-radius: 40px;
}
.wrapper{
  display: flex;
  flex-direction: row;
  padding-left: 32px;
  padding-top: 32px;
  
}
.wrapper__left{
  width: 208px;   
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.wrapper__left__header{
  
}

.today {
font-size: 12px;
padding-bottom: 8px;

}
.zero {
color: red;
font-size: 13px;
}
.count {
font-size: 13px;
}

.wrapper__left__body{
  width: 203px;
  height: 1100px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 31px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
}
.wrapper__left__body .header{
  width: 100%;
  height: 70%;
}
.headerGrey{
  width: 148px;
  height:  180px;
  background-color: #c4c4c4;
}

.line{
  border-top: 1px dotted black;
  margin-top: 12px;
  margin-bottom: 12px;
}
.profileWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 72px;
}
.profile{
  color: #999999;
font-size: 15px;
}

.wrapper__left__body .footer {
width: 100%;
height: 10%;
display: flex;
}

.wrapper__right{

  width: 1360px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  z-index: 1;
}

.wrapper_bar{
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  
}
.wrapper__right__header{
  padding-top: 10px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper__right__title{
  padding-left: 40px;
  padding-bottom: 8px;
  color: #5098b3;
  font-weight: 900;
  font-size: 20px;
}
/* header 바 */
.wrapper__right__setting{
  font-size: 14px;
  font-weight: 500;
}
/* 메인메인 */
.wrapper__right__body{
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 50px 50px 50px;
  width: 1350px;
  height: 1100px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
}

.feelWrapper{
  width: 141px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feelSelect{
  width: 141px;
}

.bbbb{
  color: red;
}

iframe{
  width: 100%;
  height: 100%;
  border: none;
}

